h1{
	font-family: helvetica;
	font font-size: 36px;
	font-weight: bold;
}
h2{
	font-family: helvetica;
	font font-size: 30px;
	font-weight: bold;
}
h3{
	font-family: helvetica;
	font font-size: 24px;
	font-weight: bold;
}
h4{
	font-family: helvetica;
	font font-size: 18px;
	font-weight: bold;
}
h5{
	font-family: helvetica;
	font font-size: 14px;
	font-weight: bold;
}
p{
	font-family: helvetica;
	font-size: 10px;
	line-height: 13px;
}
nav{
	position: fixed;
	z-index: 1
}
ul{
	list-style-type: none;
	margin: none;
	padding: none;
}
ul li{
	display: inline-block;
	padding: 0px 10px 0px 10px;
}
input[type=submit]{
	display: block;
	width: 300px;
	font-family: helvetica;
	font-weight: bold;
	border: 4px black solid;
	font-size: 30px;
	color: #00ff00;
	background-color: white;
	margin: auto;
	}
input[type=submit]:hover{
	background-color: #00ff00;
	color: black;
}
input[type=range]{
    -webkit-appearance: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: black;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border: 4px solid black;
    border-radius: 0%;
    margin-top: -12px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00ff00;
}
input[type=checkbox] input[type=radio] {
    display: inline-block;
}
form select{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	background: url(../images/downarrow.svg) no-repeat;
	background-position: right 10px top 2px;
	font-family: helvetica;
	font-weight: bold;
	color: #00ff00;
	font-size: 16px;
	border: 4px black solid;
	padding: 5px 20px;
	border-radius: 0;
	width: 300px;
}
form select::-ms-expand {
display: none;
}
input[type=checkbox], input[type=radio]{
	width: 30px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
}
input[type=checkbox] + label, input[type=radio] + label{
	display: inline-block;
	margin-left: -24px;
	padding: 7px 10px 10px 39px;
	background: url(../images/boxes.svg) no-repeat;
	background-size: 30px;
	line-height: 20px;
	background-position: 0px 0px;
}
input:checked + label{
	color: #00ff00
}
input[type=checkbox]:checked + label, input[type=radio]:checked + label{
	background-position: 0px -42px;
}
a:link{
	text-decoration: none;
	color: black;
}
.container{
	max-width: 940px;
}
.categoryRule{
	display: block;
	border-bottom: 3px solid black;
}
.rangeLabelL{
	font-size: 12px;
	display: inline;
	position: absolute;
	text-align: left;
}
.rangeLabelR{
	font-size: 12px;
	display: inline;
	position: absolute;
	text-align: right;
	right: 15px;
}
.schLink{
	display: inline;
	z-index: 1;
}
#cover{
	top: 30px;
	left: 20px;
	width: 60%;
	position: relative;
	display: inline-block;
	margin: auto;
}
#blinking{
display: inline-block;
}
#story_text{
	font-family: serif;
	font-size: 21px;
	line-height: 33px;
}
.about_text{
	font-family: helvetica;
	font-size: 21px;
	line-height: 33px;
}
#about_color{
	background-color: #00ff00;
	height: 150px;
}
#problem_color{
	background-color: #f3f315;
	height: 150px;
}
#story_color{
	background-color: #ff0099;
	height: 150px;	
}














