h1{
	font-family: helvetica;
	font font-size: 36px;
	font-weight: bold;
}
h2{
	font-family: helvetica;
	font font-size: 30px;
	font-weight: bold;
}
h3{
	font-family: helvetica;
	font font-size: 24px;
	font-weight: bold;
}
h4{
	font-family: helvetica;
	font font-size: 18px;
	font-weight: bold;
}
h5{
	font-family: helvetica;
	font font-size: 14px;
	font-weight: bold;
}
p{
	font-family: helvetica;
	font-size: 10px;
	line-height: 13px;
}
nav{
	position: fixed;
	z-index: 1
}
ul{
	list-style-type: none;
	margin: none;
	padding: none;
}
ul li{
	display: inline-block;
	padding: 0px 10px 0px 10px;
}
input[type=submit]{
	display: block;
	width: 300px;
	font-family: helvetica;
	font-weight: bold;
	border: 4px black solid;
	font-size: 30px;
	color: #00ff00;
	background-color: white;
	margin: auto;
	}
input[type=submit]:hover{
	background-color: #00ff00;
	color: black;
}
input[type=range]{
    -webkit-appearance: none;
    padding-top: 15px;
    padding-bottom: 15px;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 4px;
    background: black;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 30px;
    border: 4px solid black;
    border-radius: 0%;
    margin-top: -12px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #00ff00;
}
input[type=checkbox] input[type=radio] {
    display: inline-block;
}
input[type=email]{
	border: 4px black solid;
	width: 60%;
}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	appearance:none;
	background: url(../images/downarrow.svg) no-repeat;
	background-position: right 10px top 2px;
	font-family: helvetica;
	font-weight: bold;
	color: #00ff00;
	font-size: 16px;
	border: 4px black solid;
	padding: 5px 20px;
	border-radius: 0;
	width: 300px;
}
form select::-ms-expand {
display: none;
}
input[type=checkbox], input[type=radio]{
	width: 30px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	opacity: 0;
}
input[type=checkbox] + label, input[type=radio] + label{
	display: inline-block;
	margin-left: -24px;
	padding: 7px 10px 10px 39px;
	background: url(../images/boxes.svg) no-repeat;
	background-size: 30px;
	line-height: 20px;
	background-position: 0px 0px;
}
input:checked + label{
	color: #00ff00
}
input[type=checkbox]:checked + label, input[type=radio]:checked + label{
	background-position: 0px -42px;
}
a:link{
	text-decoration: none;
	color: black;
}
a:hover{
	color: #ff1493;
}
.container{
	margin: auto;
	padding: 0;
	width: 95%;
}
.categoryRule{
	display: block;
	border-bottom: 3px solid black;
	margin-top: 2em;
}
.rangeLabelL{
	font-size: 12px;
	display: inline;
	position: absolute;
	text-align: left;
}
.rangeLabelR{
	font-size: 12px;
	display: inline;
	position: absolute;
	text-align: right;
	right: 15px;
}
.school{
	display: block;
	z-index: 1;
}
#story_text{
	font-family: serif;
	font-size: 24px;
	line-height: 33px;
	color: black;
}
#email{
	width: 90%;
}
.textbox{
	width: 90%;
	height: 10em;
	border: 4px solid black;
}
#map {
        height: 350px;
        width: 100%;
}
#copyrite{
	position: relative;
	bottom: 5px;
	font-size: 12px;

}
#coverpattern{
	background-repeat: round;
	background-image: url(../images/CheckBox.gif);
}
#logoimg{
	position: relative;
	display: block;
	width: 80%;
	margin: auto;
	padding-top: 1em;
}
#logo{
	margin: auto;
	width: 80%;
	height: 20%;
	position: relative;
	margin-top: 18em;
	background-color: white;
	border: .6em black solid;
}
#surveybrief{
	padding-top: 2em;
	color: #00ff00;
}
.statNum{
	font-size: 10em;
	margin-bottom: -.2em;
	margin-top: .2em;
	text-align: center;
}
.statNumvar{
	font-size: 8em;
	margin-bottom: -.2em;
	margin-top: .5em;
	text-align: center;
}
.infomargin{
	margin-top: 1em;
	margin-bottom: 1em;
}
.slidemargin{
	margin-top: 1em;
	margin-bottom: 2em;
}
#banner{
	width: 90%;
	margin-top: 100px;
}
.coverlink{
	margin: 2em;
	position: relative;
	display: inline-block;
	border: 4px solid black;
	background-color: #00ff00;
	padding: 0px 20px 0px 20px;
}
#linkcontainer{
	text-align: center;
	display: block;
	margin: auto;
}
.coverlink:hover{
	color: #ff1493;
}
#video{
	display: inline-block;
	position: relative;
	border: 4px black solid;
	width: 100%;
	height: 450px;
	background-color: #ff1493;
}
.graphlabel{
	color: #ff1493;
	border-bottom: 2px #ff1493 dashed;
}
.questionlabel{
	color: #ff1493;
	line-height: 30px;
}
.graphlabelblk{
	color: #ff1493;
	border-bottom: 2px black dashed;
}
#slide1:hover + #BLM {
	display: inline;
}
#slide1{
	display: block;
}
#BLM{
	display: none;
	position: relative;
	top: -50px
}


























